@font-face {
  font-family: social;
  src: url("fonts/Socialico.woff");
}

h3,
p,
ul,
li,
a,
div {
  padding: 0;
  margin: 0;
  color: white;
}

ul {
  list-style: none;
}

ul li {
  display: inline;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.Header {
  background-color: #181818;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 25%;
}

.Header ul {
  padding: 10px;
}

.Header ul li a {
  margin-left: 20px;
  font-size: 30px;
}

.Header ul li a:hover {
  color: #7f8381;
}

.Header span {
  display: none;
}

.App .Home {
  margin: 350px 0;
}

.App h2 {
  color: black;
}

.App h2 a {
  color: red;
}

.Footer {
  background-color: #181818;
  padding: 30px 30%;
  display: flex;
  justify-content: space-between;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
}

.Footer .social {
  text-align: center;
  margin: auto 0;
}

.Footer .social ul {
  padding: 10px 0;
}

.Footer .social ul li {
  margin: 0;
  color: white;
  font-family: "social";
  font-size: 30px;
  padding: 0px 2px;
}

.Footer .social ul li a:hover {
  color: #7f8381;
}

.Footer .info h3 {
  font-size: 25px;
  color: #958570;
}

.Footer .info ul {
  padding: 10px 0;
}

.Footer .info ul li {
  display: block;
  margin: 0;
  color: white;
  font-size: 30px;
  padding: 0px 2px;
}

.Footer .info ul li a {
  font-size: 20px;
}

.Footer .info ul li a:hover {
  color: #7f8381;
}

/* Movies css style here */

.Movies .Images {
  margin: 6% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.Movies .Images a {
  display: inline-block;
}

.Movies .Images div {
  display: inline-block;
}

.Movies .Images img {
  width: 370px;
  height: auto;
  border-radius: 1%;
  display: inline-block;
}

.Movies .Images h1 {
  color: black;
}

/* TV-show-page css style here */
.Show {
  margin: 350px 0;
}

.Show h1 {
  color: black;
}

/* More-page css style here */

.More {
  margin: 350px 0;
}

.More h1 {
  color: black;
}

/* Invalid Address */
.invalid {
  margin: 350px 0;
}

/* Movie-page valid-slug */
.Movie .validMovie {
  margin: 6% auto;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.Movie .validMovie div img {
  width: 300px;
  height: 450px;
  border-radius: 25px;
}

.Movie .validMovie section {
  width: 70%;
  height: 450px;
  background: rgba(62, 191, 200, 0.15);
  border-radius: 25px;
  text-align: left;
}

.Movie .validMovie h1 {
  margin-left: 150px;
  font-size: 30px;
  color: black;
}

.Movie .validMovie h2 {
  margin-left: 50px;
  font-size: 30px;
  color: black;
}

.Movie .validMovie h3 {
  margin: 0 75px;
  font-size: 17px;
  color: black;
  margin-bottom: 25px;
}

/* Movie-page invalid-slugs */
.Movie .invalidMovie {
  margin: 350px 0;
}

.Movie .invalidMovie h1 {
  color: black;
}

@media only screen and (max-width: 1250px) {
  .Header {
    justify-content: space-between;
    padding: 0 50px;
  }

  .App .Images {
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
  }

  .App img {
    margin-top: 50px;
    width: 323px;
  }
  .Movie .validMovie {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Movie .validMovie section {
    height: 100%;
    margin: 25px 0;
  }

  .Movie .validMovie section h1 {
    margin: 0;
    text-align: center;
  }

  .Footer {
    padding: 30px 250px;
    position: relative;
    flex-direction: column;
  }

  .Footer .social {
    padding: 15px 0;
  }

  .Footer .info {
    text-align: center;
    border-top: 1px solid;
    padding: 15px 0;
  }
}

@media only screen and (max-width: 670px) {
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(24, 24, 24, 0.8);
    /* z-index: 9999; */
  }

  .Header .non-drop-down {
    justify-content: space-between;
    display: flex;
    width: 90%;
  }

  .Header .drop-down-hidden {
    opacity: 0;
    height: 0 !important;
    width: 0;
  }

  .Header .drop-down {
    position: fixed;
    top: 64px;
    right: 0;
    left: 0;
    text-align: center;
    background-color: rgba(24, 24, 24, 0.8);
    border-top: 1px solid rgba(24, 24, 24, 1);
    transition: all 0.5s ease-in-out;
  }

  .Header span {
    display: block;
  }

  .App img {
    width: 70%;
    height: auto;
    border-radius: 1%;
  }

  .Movie .validMovie section h1 {
    font-size: 25px;
  }

  .Movie .validMovie h2 {
    margin-left: 50px;
    font-size: 20px;
    color: black;
  }

  .Movie .validMovie h3 {
    margin: 0 75px;
    font-size: 12px;
    color: black;
    margin-bottom: 25px;
  }

  .Footer {
    padding: 30px 0px;
  }

  .Footer .social a img {
    width: 15%;
    height: 5%;
  }

  .Footer .social ul li {
    font-size: 25epx;
  }

  .Footer .info {
    text-align: center;
    border-top: none;
    padding: 15px 0;
  }

  .Footer .info h3 {
    font-size: 20px;
  }

  .Footer .info ul li a {
    font-size: 15px;
  }
}
