@font-face {
  font-family: social;
  src: url("fonts/Socialico.woff");
}

h3,
p,
ul,
li,
a,
div {
  padding: 0;
  margin: 0;
  color: white;
}

ul {
  list-style: none;
}

ul li {
  display: inline;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.Header {
  background-color: #181818;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 25%;
}

.Header ul {
  padding: 10px;
}

.Header ul li a {
  margin-left: 20px;
  font-size: 30px;
}

.Header ul li a:hover {
  color: #7f8381;
}

.Header span {
  display: none;
}

.App .Images {
  margin: 6% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.App img {
  width: 70%;
  height: auto;
  border-radius: 1%;
}

.Footer {
  background-color: #181818;
  padding: 30px 30%;
  display: flex;
  justify-content: space-between;
  /* position: absolute;
  bottom: 0;
  left: 0;
  right: 0; */
}

.Footer .social {
  text-align: center;
  margin: auto 0;
}

.Footer .social ul {
  padding: 10px 0;
}

.Footer .social ul li {
  margin: 0;
  color: white;
  font-family: "social";
  font-size: 30px;
  padding: 0px 2px;
}

.Footer .social ul li a:hover {
  color: #7f8381;
}

.Footer .info h3 {
  font-size: 25px;
  color: #958570;
}

.Footer .info ul {
  padding: 10px 0;
}

.Footer .info ul li {
  display: block;
  margin: 0;
  color: white;
  font-size: 30px;
  padding: 0px 2px;
}

.Footer .info ul li a {
  font-size: 20px;
}

.Footer .info ul li a:hover {
  color: #7f8381;
}

@media only screen and (max-width: 1250px) {
  .Header {
    justify-content: space-between;
    padding: 0 50px;
  }

  .App .Images {
    margin: 0 0 50px 0;
    display: flex;
    flex-direction: column;
  }

  .App img {
    margin-top: 50px;
    width: 323px;
  }

  .Footer {
    padding: 30px 250px;
    position: relative;
    flex-direction: column;
  }

  .Footer .social {
    padding: 15px 0;
  }

  .Footer .info {
    text-align: center;
    border-top: 1px solid;
    padding: 15px 0;
  }
}

@media only screen and (max-width: 670px) {
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(24, 24, 24, 0.8);
    /* z-index: 9999; */
  }

  .Header .non-drop-down {
    justify-content: space-between;
    display: flex;
    width: 90%;
  }

  .Header .drop-down-hidden {
    display: none;
  }

  .Header .drop-down {
    position: absolute;
    top: 64px;
    right: 0;
    left: 0;
    text-align: center;
    background-color: rgba(24, 24, 24, 0.8);
    border-top: 1px solid rgba(24, 24, 24, 1);
  }

  .Header span {
    display: block;
  }

  .App img {
    width: 70%;
    height: auto;
    border-radius: 1%;
  }

  .Footer {
    padding: 30px 0px;
  }

  .Footer .social a img {
    width: 15%;
    height: 5%;
  }

  .Footer .social ul li {
    font-size: 25epx;
  }

  .Footer .info {
    text-align: center;
    border-top: none;
    padding: 15px 0;
  }

  .Footer .info h3 {
    font-size: 20px;
  }

  .Footer .info ul li a {
    font-size: 15px;
  }
}
